.grid {
  display: flex;
  flex-direction: column;
  user-select: none;
}

.grid-row {
  display: flex;
}

.grid-cell {
  width: 8px; /* Cell size */
  height: 8px;
  border: 1px solid #eee; /* Slight border for cell separation */
}
